<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>addtask</title>
</head>
<body>
    <div class="heading">
        <center><strong><i>NOTE_APP</i></strong></center>
    </div>
    <div class="formdiv">
        <form action="{% url 'addtask' %}" method="POST">
            {% csrf_token %}
            <label>
                TaskTitle: <input type="text" placeholder="type your task name" name="TaskTitle"/>
            </label><br><br>
            <label for="description">Enter your text:</label><br>
            <textarea id="description" name="userText" rows="4" cols="50"></textarea>
    
                    <input id='button' type="submit" value="click to add" />
        </form>

    </div>
</body>
</html>