@import url("https://fonts.googleapis.com/css2?family=Bacasime+Antique&family=Poppins:ital,wght@0,100;0,500;0,600;1,100;1,200;1,300;1,400&family=Roboto+Slab:wght@400;700&family=Work+Sans:ital,wght@1,500&family=Ysabeau+Office:ital,wght@0,1;0,100;0,200;0,300;1,200;1,400;1,500&display=swap");

body {
  background-color: #f0f0f0; 
  font-family: poppins;
  font-size: 1.2rem;
}
.formdiv {
  border: 3px solid #8eaccd;
  border-radius: 20px;
  color: #333;
  background-color: #f8f8f8;
  width: 30%;
  margin-left: 34%;
  margin-top: 5%;
}
form {
  display: flex;
  flex-direction: column;
  padding: 15px;
}

label {
  margin-bottom: 8px;
}

input[type="text"],
textarea {
  width: 90%;
  padding: 8px;
  margin-bottom: 16px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button {
  background-color: crimson;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.btn {
  margin-left: 20px;
  margin-right: 20px;
}
.heading {
  font-weight: 900;
  font-size: 3rem;
}
